.frame {
  width: 100%;
  position: fixed;
  padding: var(--margin);
  top: 0;
  z-index: 9;
  font-size: 12rem;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  .frame-left {
    display: flex;
    align-items: center;
    gap: 20rem;
    & > a, h1 a{
      @include underline;
    }
  }
  h1 {
    font-size: inherit;
    font-weight: normal;
  }
  .cdawrap {
    max-width: 350rem;
    text-align: right;
    line-height: 1.2;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media (max-width: 1024px) {
    font-size: 10px;
    flex-direction: column;
    .frame-left {
      width: 100%;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: center;
      margin-bottom: 5px;
      h1 {
        width: 100%;
        order: 9;
        text-align: center;
      }
    }
    .cdawrap {
      margin: 0 auto;
      text-align: center;
    }
  }
}