@import '../util';

#hero {
  width: 100%;
  height: 100vh;
  padding: 30rem var(--margin);
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;

  #canvas-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  #hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  svg {
    fill: currentColor;
  }

  #title {
    width: 360rem;
    margin-bottom: 20rem;
    position: relative;
    z-index: 1;

    svg {
      width: 100%;
    }

    small {
      max-width: 250px;
      font-size: 12rem;
      font-weight: bold;
      text-align: right;
      position: absolute;
      right: 0;
      top: 0;

      a {
        @include underline;
      }
    }
  }

  p {
    max-width: 670rem;
    margin: 0;

    a {
      @include underline;
    }
  }

  #logos {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30rem;

    a {
      height: 100%;
      display: inline-block;

      svg {
        height: 100%;
      }

      &:last-child {
        height: 95%;
      }
    }

    .star {
      width: 7rem;
      margin: 0 13rem;
    }
  }

  @media (max-width: 1024px) {
    padding: 20px var(--margin);

    #title {
      max-width: 200px;
      margin-bottom: 15px;

      small {
        top: -25%;
        font-size: 10px;
        max-width: 170px;
      }
    }

    p {
      font-size: 10px;

      br {
        display: none;
      }
    }

    #logos {
      margin-top: 20px;
    }
  }
}